*{
    margin:0;
    padding:0;
}

body{
    min-height: 100vh;
}

.navbar{
    display:flex;
    justify-content: space-between;
    padding:12px;
    background-color: rgb(5,121,121);
    color:#fff;
    padding-inline:45px;
}

.navbar-left{
    display:flex;
    align-items:center;
}

.navbar-brand{
    font-size:1.8rem;
    margin-right:20px;
    text-decoration: none;
    color:white;
}

.navbar-right{
    display:flex;
    align-items:center;
}

.navbar-link{
    color:#fff;
    text-decoration:none;
    margin-left:20px;
    font-size: 20px;
}

.navbar-link:hover{
    text-decoration:underline;
}

.home .user{

    font-style: italic;
    padding: 12px;
    font-weight: bold;
    font-size: 25px;
    color:rgb(231, 114, 47);
    
}